* {
    margin: 0;
    padding: 0;
    image-rendering: smooth;
}

:root{
    --color-yellow: #FCE600;
    --color-red: #F33C40;
    --color-gray: #5A5F63;
    --color-gray-light: #F2F2F2;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: var(--color-gray-light);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-top: 2em;
    margin-left: .5em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
    padding: 0.35em 1.25em 0.35em;
}
nav li:last-child{
    margin-right: 4em;
}


footer{
    color: var(--color-gray);
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.625em;

}

.footer-desc {
    font-size: 0.625rem;
    margin-right: 1em;
}

.footer-img > img {
    height: 2em;
}

#rect-yellow{
    height: 120px;
    background-color: var(--color-yellow);
    z-index: -100;
}

#img-irmao-jorel{
    margin-top: -8em;
    margin-bottom: -.43em;

}

#img-irmao-jorel > img{
    height: 80px;
    display: inline-block;
    padding: 1em 0 0 calc((13.3vw + 7.5rem));
    /*padding: 2vh 0 0 49vw;*/
}


#rect-content{
    max-width: 95%;
    width: 80%;
    min-height: 70vh;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    padding-bottom: 1.5em;
}

.page-numbers{
    font-size: 0.675rem;
    font-weight: 300;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-page-items{
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#header-display{
    display: flex;
    justify-content: space-between;
}

#display-total-limit{
    margin-top: -4em;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.total{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--color-gray);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.limit{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--color-red);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    margin-top: -2.8em;
    margin-left:-.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon-limit > img {
    margin-left: 0.5em;
    width: 50%;   
    
}

.svg-white{
    filter: invert(96%) sepia(98%) saturate(7%) hue-rotate(143deg) brightness(104%) contrast(102%);
}

.svg-gray{
    filter: invert(38%) sepia(9%) saturate(260%) hue-rotate(165deg) brightness(93%) contrast(95%);
}

.svg-red{
    filter: invert(28%) sepia(78%) saturate(2163%) hue-rotate(338deg) brightness(98%) contrast(94%);
}

.limit > p:first-of-type{
    margin-top: -0.75em;
    margin-left: 0.5em;
    font-size: 1.225rem;
}

.total > p:first-of-type{
    margin-top: -1em;
}

.total > p:last-of-type{
    font-size: 1.65rem;
}

.current-page{
    background: var(--color-yellow);
    border-radius: 5px;
    border: 1px solid var(--color-gray);
}
.actions{
    margin-top: -1.25em;
    display: flex;
    margin-left: 1em;
    align-items: flex-end;
}

.selection{
    margin-right: 1em;
}

.group-insert-change{
    display: flex;
    flex-direction: column;
}

.btn-actions{
    margin-top: .625em;
    display: flex;
    justify-content: space-between;
    
}

select {
    text-indent:0.425em; 
    line-height:12px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-yellow);
    border-radius: 0 5px 5px 0;

}


.header-group > p{
    text-align: center;
    font-size: .875rem;
    width: 9.5em;
    border-bottom: 1px solid var(--color-gray);
}
.btn-actions > .btn{
    width: 1.225em;
}

.btn{
    border-radius: 5px;
    padding: 0.15em .325em;
    text-align: center;
}




.btn-yellow{
    background-color: var(--color-yellow);
}

.btn-red{
    background-color: var(--color-red);
}

.btn-gray{
    background-color: var(--color-gray);
}

.btn-actions > .btn:hover{
    image-rendering: high-quality;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
}

.errorlist{
    color: var(--color-red);
    font-size: .875rem;
}

.list-expenses{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
.description-top{
    color: var(--color-gray);
    font-weight: 300;
    font-size: 1.125rem;
    border-bottom: 1px solid var(--color-gray);
}

.description-itens{
    
    padding: .35em .75em .35em;
    display: flex;
    align-items: center;
    font-size: .675rem;
    font-weight: 900;
    color: var(--color-gray);
    justify-content: space-between;
}

.line-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

.col-8{
    width: 98.4%;
}

.col-7{
    width: 86.1%;
}

.col-6{
    width: 73.8%;
}

.col-5{
    width: 61.5%;
}

.col-4{
    width: 42.2%;
}

.col-3{
    width: 36.9%;
}

.col-2{
    width: 24.6%;
}

.col-1{
    width: 12.3%;
}

.action-item{
    display: flex;
    justify-content: flex-start;

}

.action-item > .btn-inline > img{
    width: 22.5%;
}

.line-item{
    font-size: 0.675rem;
    background-color: var(--color-gray-light);
    padding: .35em .75em .35em;
    border-radius: 5px;

}


.btn-inline > img:hover{
    transform: scale(1.4);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
}

ul li {
    cursor: pointer;
}

ul li:hover{
    color: var(--color-red);
}

.back-page-items  > a,.next-page-items  > a{
    text-decoration: none;
    color: var(--color-gray);
}

.back-page-items > a:hover, .next-page-items > a:hover{
    text-decoration: none;
    color: var(--color-red);
}

.content-about{
    margin-left: 2em;
}

section > ul li{
    list-style: none;
    margin-left: 1em;
    
}

section > ul li:hover{
    color: inherit;
    cursor: inherit;
    
}

section > header p{
    border-bottom: 1px solid var(--color-gray);
    margin: 1em 1em 1em 0;
}

.breadcamp{
    margin-left: 1em;
    font-size: .875rem;
    font-weight: 200;
    margin-bottom: 1em;
}

.report-list{
    margin-left: 2em;
}

.description-empty{
    margin: 3em auto;
    text-align: center;
    display: block;
}