{% extends "base.html" %}
{% load static %}
{% block title %}Sobre{% endblock %}

{% block content %}
<div class="content-about" >
    <header>
        <h4>Projeto de Programação Web</h4>
    </header>
    <section>
        <header>
            <p>Tecnologias</p>
        </header>
        <ul>
            <li>Python 3.9</li>
            <li>Django 3.2</li>
            <li>Javascript</li>
            <li>JQuery 3.2</li>
            <li>PostgreSQL</li>
        </ul>
    </section>
    <section>
        <header>
            <p>Tempo de Desenvolvimento</p>
        </header>
        <p><a href="https://wakatime.com/badge/user/57e8d9c3-b700-4c91-9dea-e550d7c90460/project/71fba14e-1517-423a-ad9b-91eea6e6accf"><img src="https://wakatime.com/badge/user/57e8d9c3-b700-4c91-9dea-e550d7c90460/project/71fba14e-1517-423a-ad9b-91eea6e6accf.svg" alt="wakatime"></a></p>
    </section>
    
</div>

{% endblock %}