{% extends "base.html" %}
{% load static %}
{% block title %}Relatório de Gastos Mensais por Categoria{% endblock %}
{% block style %}
<link href="{% static 'expenses/css/report-expense.css' %}" rel="stylesheet"/> 

<link href="{% static 'expenses/css/modal.css' %}" rel="stylesheet"/> 
{% endblock %}
{% block content %}       
<div class="breadcamp"><a href="{% url 'expenses:report' %}">Todos os Relatórios</a>/Relatório de Gastos Mensais por Categoria</div>
<div class="content-report">
  <form action="{% url 'expenses:list_expenses_by_category' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-gray sub white small " value="Enviar">
  </form>
  
  

  {% if list %}

  <div class="list-expenses">
    <div class="description-top">
        <p>Categoria: {{ category_selected }}</p>
    </div>
    <div class="description-itens">
        <p class="col-1"></p>
        <p class="col-2">Mês</p>
        <p class="col-2">Ano</p>
        <p class="col-2">Total</p>
        <p class="col-1"></p>
    </div>
    {% for result in list %}
    <div class="line-item">
        <p class="col-1"></p>
        <p class="col-2">{{ result.date__month }}</p>
        <p class="col-2">{{ result.date__year  }}</p>
        <p class="col-2">{{ result.total|floatformat:2 }}</p>
        <p class="col-1"></p>
    </div>
    {% endfor %}
</div>

  {% endif %}
</div>
  {% endblock %}