{% extends "base.html" %}
{% load static %}
{% block title %}Página Inicial{% endblock %}
{% block style %}
    <link href="{% static 'expenses/css/modal.css' %}" rel="stylesheet"/> 
{% endblock %}
{% block display-values %}
    <div class="total"><p>R$</p><p id="total_by_month">{% if not total_current_month %}0,00{% else %}{{ total_current_month|floatformat:2 }}{% endif %}</p></div>
    <div class="limit"><div class="icon-limit svg-white"><img src="{% static 'expenses/img/icon/arrow-trend-up-solid.svg' %}" /></div><p id="limit_percent_by_month">??%</p></div>
{% endblock %}


{% block content %}  
    <div class="actions">
        <div class="selection">
            <form action="" request="POST">
                <select style="width: 130px;" id="list_month_year">
                    {# <option value="{{ current_month_number }}-{{ current_year }}">{{ current_year }}/{{ current_month|title }}</option> #}
                    {% for item in list_month_year_select %}
                        <option value="{{ item.month_number }}-{{ item.year }}">{{ item.year }}/{{ item.month|title }}</option>
                    {% endfor %}
                
                </select>
            </form>
        </div>
        <div class="group-insert-change">
            <div class="header-group">
                <p>Inserir ou Alterar</p>
            </div>
            <div class="btn-actions">
                <div class="btn btn-red action-modal" data-action="handle-limit">
                    <img class="svg-white" src="{% static 'expenses/img/icon/arrow-trend-up-solid.svg' %}" />
                </div>  
                <div class="btn btn-gray action-modal" data-action="create-expense">
                    <img class="svg-white" src="{% static 'expenses/img/icon/money-bill-trend-up-solid.svg' %}" />
                </div> 
                <div class="btn btn-yellow action-modal" data-action="handle-payment">
                    <img class="svg-gray" src="{% static 'expenses/img/icon/cash-register-solid.svg' %}" />
                </div>  
                <div class="btn btn-yellow action-modal" data-action="handle-category">
                    <img class="svg-gray" src="{% static 'expenses/img/icon/pizza-slice-solid.svg' %}" />
                </div> 
            </div>
        </div>
    </div>
    <div class="list-expenses">
        <div class="description-top">
            <p>Últimos Gastos</p>
        </div>
        <div class="description-itens">
            <p class="col-1">Data</p>
            <p class="col-3">Descrição</p>
            <p class="col-1">Categoria</p>
            <p class="col-1">Forma Pagamento</p>
            <p class="col-1">Valor</p>
            <p class="col-1">Ação</p>
        </div>
        {% for item in list_item_expenses %}
        <div class="line-item">
            <p class="col-1">{{ item.date|date:"d/m/Y" }}</p>
            <p class="col-3">{{ item.description }}</p>
            <p class="col-1">{{ item.category.description|title }}</p>
            <p class="col-1">{{ item.payment.description|title }}</p>
            <p class="col-1">R$ {{ item.value|floatformat:2 }}</p>
            <div class="action-item col-1">
                <div class="btn-inline">
                    <img class="svg-red" src="{% static 'expenses/img/icon/trash-can-solid.svg' %}" />
                </div>
                <div class="btn-inline action-modal" data-action="edit-category" data-id="{{ item.id }}">
                    <img src="{% static 'expenses/img/icon/edit-solid.svg' %}" />
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="page-numbers">
        <div class="back-page-items"><a href="{% url 'expenses:home' current_page|add:'-1' %}">Página Anterior</a></div>
        <div class="current-page-items">
            <p>Página Atual</p>
            <p>{{ current_page }}/{{ num_pages }}</p>
        </div>
        <div class="next-page-items"><a href="{% url 'expenses:home' current_page|add:'1' %}">Próxima Página</a></div>    
    </div>
    <script src="{% static 'expenses/js/jquery-3.6.0.min.js' %}"/></script>


    {% include "expenses/modal.html" %}
    <script>
        $(document).ready(function(){
            $('select').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                var valueSelected = this.value;
                $.ajax({
                    type: 'GET',
                    url: "{% url 'expenses:get_total_expenses_ajax' %}",
                    data: {
                        'value': valueSelected
                    },
                    success: function (response) {
                        //alert(response.data)
                        try{
                            return_value = response.data
                            return_value = return_value.toString().replaceAll('.',',')
                            $("#total_by_month").text(return_value)
                        }catch{
                            $("#total_by_month").text('0,00')
                        }
                        
                        $("#limit_percent_by_month").text(response.percent)
                    },
                    error: function (response) {
                        // alert the error if any error occured
                        console.log("Error", response)
                    }
                })
            });
            
            //controle de modal
            var modal = document.querySelector("#modal");
            var modalOverlay = document.querySelector("#modal-overlay");
            var closeButton = document.querySelector("#close-button");
            var openButton = document.querySelector("#open-button");



            closeButton.addEventListener("click", function() {
                modal.classList.remove("open");
                modal.classList.toggle("closed");
                modalOverlay.classList.remove("open");
                modalOverlay.classList.toggle("closed");
            });

            const action_modal = {
                'create-expense': "{% url 'expenses:create_expense' %}",
                'handle-limit': "{% url 'expenses:handle_limit' %}",
                'handle-payment': "{% url 'expenses:handle_payment' %}",
                'handle-category': "{% url 'expenses:handle_category' %}",
            }

            $(".action-modal").on('click', function(){
                //console.log($(this).data().action)
                new_data = {}
                if($(this).data().id){
                    new_data = {
                        id: $(this).data().id,
                    }
                }
                
                $.ajax({
                    type: 'GET',
                    url: action_modal[$(this).data().action],
                    success: function (response) {
                        $('.modal-description').text(response.title);
                        $('.modal-content').html(response.html);
                        modal.classList.remove("closed");
                        modal.classList.toggle("open");
                        modalOverlay.classList.remove("closed");
                        modalOverlay.classList.toggle("open");
                    },
                    error: function (response) {
                        // alert the error if any error occured
                        console.log("Error", response)
                    }
                    
                });
                
            });
            
        });
    </script>
{% endblock %}