{% extends "base.html" %}
{% load static %}
{% block title %}Relatórios{% endblock %}
{% block content %}
<div class="breadcamp">Todos os Relatórios</div>

    <ul class="report-list">
        <li><a href="{% url 'expenses:list_expenses_by_category' %}">Relatório de Gastos Mensais por Categoria</a></li>
        <li>Listar os gastos do mês, limite de gastos estabelecido e se houve superação do limite</li>
        <li>Identificar categoria de gasto que houve maior despesa por período</li>
        <li>Calcular total gasto por período e forma de pagamento</li>
        <li>Mostrar todos os gastos por período</li>
        <li>Identificar em que mês e ano houve maior despesa por tipo de gasto</li>
    </ul>
{% endblock %}